/* Card */
.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    margin: .5rem 0;
    min-height: 200px;
    color: var(--color-4-dark);
} 

/* Timer elements */
.timer-container {
    font-size: 1.1rem;
}

.timer-container p {
    min-height: 2rem;
}

.timer-container span {
    font-weight: 700;
    font-size: 1.2rem;
}

.card-btn-container {
    float: right;
    min-width: 40px;
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
}

.card-btn-container .icon {
    margin: 0 0.4rem;
    color: var(--color-2-transparent);
    transition: all .7s ease-in-out;
}

.card-btn-container .icon:hover {
    cursor: pointer;
    
}

.card-container:hover .icon {
    color: var(--color-4-dark);
}

.shake-on-hover {
    transition: transform 0.2s ease-in-out;
  }
  
  .shake-on-hover:hover {
    animation: shake 0.4s;
  }
  
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-1px) rotate(-1deg); }
    50% { transform: translateX(1px) rotate(1deg); }
    75% { transform: translateX(-1px) rotate(-1deg); }
    100% { transform: translateX(0); }
  }
  

/* Form elements */
.form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding: 1rem 2rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group label {
    margin-bottom: .5rem;
    font-size: 1.2rem;
}

.form-group input, .form button {
    text-align: center;
    border-radius: 20px;
    margin-bottom: .5rem;
    outline: none;
    border: none;
    min-height: 1.5rem;
    font-size: 1.1rem;
    width: 100%;
}

.form button {
    background-color: var(--color-1);
    color: var(--color-4-dark);
    text-transform: uppercase;
    font-weight: 600;
}

/** Breakpoints:
  sm: min-width: 640px;
  md: min-width: 768px;
  lg: min-width: 1024px;
  xl: min-width: 1280px;
  2xl: min-width: 1536px;
**/

/* make buttons more visible on touch devices */
@media (hover:none) {
    .card-btn-container .icon {
        color: var(--color-4-dark);
    }
}