:root {
  --header-height: 6vh;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bg {
  background: rgb(115,115,115);
  background: linear-gradient(17deg, rgba(115,115,115,1) 0%, rgba(0,0,0,1) 69%);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}

.content {
  position: absolute;
  left: 50%; 
  transform: translateX(-50%);
  width: 100%;
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  height: var(--header-height);
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 100;
}

.main-title {
  margin-top: .5rem;
  margin-bottom: .5rem;
  margin-left: 1rem;
}

.main {
  margin: 0 2rem;
}

.icon-container {
  text-align: right;
  color: aliceblue;
  margin-right: 1rem;
}

.icon-new {
  cursor: pointer;
}

.timers {
  display: grid;
}